/* =========================================
    Basic Style
========================================== */
*{
    box-sizing: border-box;
}
body{
    position: relative;
    background-color: #181e2a;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

.wrapping{
    margin: 0 auto;
}

.nav-header a,
.main-footer a{
    color: #fff;
    text-decoration: none;
    font-size: 0.85em;
    list-style-type: none;
}

.button a{
    text-decoration: none;
    color: white;
}

.button {
    background-color: #4fc4d5;
    border: 1px solid #4fc4d5;
    border-radius: 50px;
    width: 15em;
    height: 40px;
    font-size: 1em;
}

.productive a{
    text-decoration: none;
    color: #4fc4d5;
    padding-bottom: 4px;
    border-bottom: 2px solid #4fc4d5;
    font-size: 0.85em;
}

.productive a:after{
    content: url(images/icon-arrow.svg);
    margin-left: 5px;
}

.testimonial{
    width: 300px;
    background-color: #21293d;
    margin: 2em auto;
    padding: 1.5em;
}

.text-testimonial{
    font-size: 0.6em;
    line-height: 1.8em;
    margin-bottom: 20px;
}

.face{
    float: left;
    width: 30px;
    border: 2px solid white;
    border-radius: 50%;
}

.job h5,
.job p{
    margin-left: 40px;
    font-size: .5em;
    line-height: .6em;
}

.bg-quote{
    position: absolute;
    width: 50px;
    left: 5%;
    margin-top: 20px;
    z-index: -1;
}

.email{
    background-color: white;
    width: 55%;
    height: 50px;
    margin: 20px 25px;
    padding-left: 15px;
}

.early-access button{
    width: 20%;
    height: 50px;
}

/* =========================================
    Basic Layout
========================================== */
/* ---------- navigation ----------*/

.main-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2em;
}
.main-header h1{
    flex-grow: 1;
    margin: 0;
    
}

.nav-header{
}

.nav-header li{
    display: inline-block;
    padding: 2em;
}

/* ------ Flexbox Properties ------ */

.illustration{
    text-align: center;
    padding: 10%;
}

.illustration h1{
    padding: 0 20%;
    font-size: 2.5em;
}

.illustration p{
    padding: 0 25%;
    font-size: 1.2em;
}

.illustrtion button{
    font-size: 1.2em;
}
.objective{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
}

.item{
    width: 40%;
    padding: 2em 3em;
    text-align: center;
}

.productive{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 8em;
}

.logo-productive{
    height: 50%;
    width: 50% ;
}
.text-productive{
    width: 40%;
    margin: 5%;
    font-size: 1.1em;
}

.testimonials{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    display: relative;
    padding: 0 3em;
    margin: 3em 0;
}

.testimonial{
    font-size: 1.5em;
}
.early-access{
    width: 60%;
    background-color: #1c2230;
    border-radius: 10px;
    margin: 0 auto;
    padding: 4em;
    text-align: center;
    line-height: 1.5em;
}

.early-access p{
    padding: 0 3em;
}
.main-footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
}
.contact{
    flex-grow: 2;
    width: 200px;
    border: 2px solid white;
}

.line,
.nav-option,
.social{
    flex-grow: 1;
    margin: 0 35px;
    padding: 0 10px;
    border: 2px solid white;
}


/* -------- Media Queries --------*/