/* =========================================
    Basic Style
========================================== */
*{
    box-sizing: border-box;
}
body{
    background-color: #1b2330;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

.button a{
    text-decoration: none;
    color: white;
}

.button {
    background-color: #4fc4d5;
    border: 1px solid #4fc4d5;
    border-radius: 50px;
    width: 15em;
    height: 40px;
    font-size: 1em;
}
/* =========================================
    Basic Layout
========================================== */
/* ---------- navigation ----------*/
.nav-header a,
.nav-footer a{
    color: #fff;
    text-decoration: none;
    font-size: 0.85em;
}

.wrapper{
    width: 95%;
}

.logo{
    float: left;
    width:25%;
    margin-top: 5%;
    margin-left: 5%;
}

.nav-header{
    float: right;
    margin-top: .6em;
}

.nav-header li{
    display: inline;
    padding: .8em;
}

/* ---------- Main ---------- */
.illustration{
    text-align: center;
    padding: 0 4.5em;
    font-size: .85em;
    line-height: 1.5em;
    margin-bottom: 3em;
}
.illustration h1{
    font-size: 1.6em;
    line-height: 1.5em;
    padding: 0 0.3em;
}
.illustration-logo{
    padding-top: 3em;
    width: 90%;
}

.objective{
    text-align: center;
    font-size: 0.9em;
    padding: 3em 2em;
    margin-bottom: 5em;
}
.icon{
    width: 20%;
    padding-top: 3.5em;
}


.logo-productive{
    width: 80%;
}
.img-productive{
    text-align: center;
}

.productive{
    text-align: left;
    padding: 0 1.5em;
    font-size: .95em;
    line-height: 1.5em;
    margin-bottom: 6em;
}
.productive h2{
    font-size: 1.2em;
}
.productive a{
    text-decoration: none;
    color: #4fc4d5;
    padding-bottom: 4px;
    border-bottom: 2px solid #4fc4d5;
    font-size: 0.85em;
}
.productive a:after{
    content: url(images/icon-arrow.svg);
    margin-left: 5px;
}
/* -------- Media Queries --------*/
