/* =========================================
    Basic Style
========================================== */
*{
    box-sizing: border-box;
}
body{
    position: relative;
    background-color: #181e2a;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

.wrapping{
    margin: 0 auto;
}

.nav-header a,
.main-footer a{
    color: #fff;
    text-decoration: none;
    font-size: 0.85em;
}

.button a{
    text-decoration: none;
    color: white;
}

.button {
    background-color: #4fc4d5;
    border: 1px solid #4fc4d5;
    border-radius: 50px;
    width: 15em;
    height: 40px;
    font-size: 1em;
}

.productive a{
    text-decoration: none;
    color: #4fc4d5;
    padding-bottom: 4px;
    border-bottom: 2px solid #4fc4d5;
    font-size: 0.85em;
}

.productive a:after{
    content: url(images/icon-arrow.svg);
    margin-left: 5px;
}

.testimonial{
    width: 300px;
    background-color: #21293d;
    margin: 2em auto;
    padding: 1.5em;
}

.text-testimonial{
    font-size: 0.6em;
    line-height: 1.8em;
    margin-bottom: 20px;
}

.face{
    float: left;
    width: 30px;
    border: 2px solid white;
    border-radius: 50%;
}

.job h5,
.job p{
    margin-left: 40px;
    font-size: .5em;
    line-height: .6em;
}

.email{
    background-color: white;
    width: 60%;
    height: 50px;
    margin: 20px 25px;
    padding-left: 15px;
}

.early-access button{
    width: 30%;
    height: 50px;
}

footer{
    width: 100%;
    background-color: #0c1524;
    margin-top: 5%;
}
.social{
    filter: invert(1);
}
.style:hover{
    filter: invert(0.4) sepia(1) saturate(4) hue-rotate(151.2deg) brightness(1.09);
}

/* =========================================
    Basic Layout
========================================== */
/* ---------- navigation ----------*/

.main-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2em;
}
.logo{
    width: 20%;
    height: 20%;
}
.nav-header li{
    display: inline-block;
    padding: 2em;
}

/* ------ Flexbox Properties ------ */

.illustration{
    text-align: center;
    padding: 10%;
}

.illustration h1{
    padding: 0 20%;
    font-size: 2.5em;
}

.illustration p{
    padding: 0 25%;
    font-size: 1.2em;
}

.illustrtion button{
    font-size: 1.2em;
}
.objective{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
}

.item{
    width: 40%;
    padding: 2em 3em;
    text-align: center;
}

.productive{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 8em;
}

.logo-productive{
    height: 50%;
    width: 50% ;
}
.text-productive{
    width: 40%;
    margin: 5%;
    font-size: 1.1em;
}

.testimonials{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0 3em;
    margin: 3em 0;
}

.testimonial{
    font-size: 1.5em;
}
.early-access{
    width: 60%;
    background-color: #1c2230;
    border-radius: 10px;
    box-shadow: 0 0 10px 10px #0c1524;
    margin: 0 auto;
    padding: 2.5em;
    text-align: center;
    line-height: 1.5em;
}

.early-access p{
    padding: 0 3em;
}

.footer-content{
    position: relative;
}
.main-footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
    padding: 5%;
}

.contact{
    flex-grow: 2;
    width: 200px;
}

.line,
.nav-option,
.social{
    flex-grow: 1;
    margin: 0 25px;
    padding-left: 10px;
    font-size: 1.2em;
}


/* -------- Media Queries --------*/
@media (min-width: 1024px){

    .testimonials {
        padding: 2em;
    }
    .testimonial{
        font-size: 1.2em;
    }

    .bg-quote{
        width: 40px;
        left: 4%;
        margin-top: 10px;
        z-index: -1;
    }

    .early-access{
        width: 70%;
    }
}

@media (min-width: 768px) and (max-width: 1023px){
    .logo-illustration{
        width: 80%;
    }

    .productive{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 3em 0;
        padding: 0;
    }

    .logo-productive{
        height: 50%;
        width: 50% ;
    }
    .text-productive{
        width: 70%;
        margin: 3em;
        font-size: 1.1em;
    }

    .testimonials{
        margin: 20px;
    }
    .early-access{
        width: 70%;
        font-size: 1em;
    }

    .early-access p{
        font-size: .8em;
    }

    .email{
        width: 80%;
        margin: 20px 25px;
    }
    
    .early-access button{
        width: 70%;
        height: 50px;
    }

    .contact{
        flex-grow: 2;
        width: 100px;
        font-size: .8em;
    }

    .footer-logo{
        width: 50%;
    }
    
    .line,
    .nav-option,
    .social{
        flex-grow: 1;
        margin: 0 15px;
        padding-left: 5px;
        font-size: 1em;
    }
}

@media (max-width: 767px){
    .main-header{
        padding: 1em;;
    }
    .nav-header li{
        display: inline-block;
        padding: 1em;
    }

    .logo-illustration{
        width: 80%;
    }
    .illustration h1{
        font-size: 1.8em;
        margin: 0;
        padding: 2.5% 10%;
    }
    .illustration p{
        font-size: 1em;
        margin: 0;
        padding: 2.5%;
    }

    .illustration button{
        margin-top: 2%;
    }
    .item{
        width: 80%;
        padding: 2em 1.5em;
        text-align: center;
    }
    .productive{
        margin: 0;
        padding: 0;
    }
    .logo-productive{
        width: 60%;
        align-self: center;
    }

    .productive p{
        align-self: center;
        font-size: 1em;
        margin: 0;
        padding: 0%;
    }

    .early-access{
        width: 85%;
    }
    .early-access p{
        font-size: .8em;
    }
    .email{
        width: 90%;
        margin: 20px;
    }
    
    .early-access button{
        width: 90%;
        height: 50px;
    }

    .main-footer{
        flex-direction: column;
        margin-top: 10%;
        padding: 10% 0;
        width: 100%;
    }

    .line,
    .contact{
        align-self: center;
        flex-grow: 0;
        width: 80%;
    }
    
    .nav-option{
        width: 80%;
        align-self: left;
        flex-grow: 0;
        padding: 2.5% 0;
        font-size: 1.2em;
    }

    .social{
        align-self: center;
        padding-top: 5%;
        margin: 0;
    }
    



}


/* =======================================
    Images Credits
========================================== */
/*
Icon made by [Bogdan Rosu] from www.flaticon.com 
*/